<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-TARD</title>
</head>
<body>
<script>addEventListener("click", event => {
    const btn = event.target;
    if (btn.tagName.toLowerCase() !== "button") return;
    const div = document.getElementById("feed");
    if (div.requestFullscreen)
        div.requestFullscreen();
    else if (div.webkitRequestFullscreen)
        div.webkitRequestFullscreen();
    else if (div.msRequestFullScreen)
        div.msRequestFullScreen();
});</script>
<img id="feed" src="{{ url_for('video_feed') }}"
     alt="">
<button>fullscreen</button>
</body>
</html>